/***** Global **********/

body{
    width: 100%;
   
    color:#333;    
}

a{
    color: #28a745;
}
a:hover{
    color: #d89c44;
}
.container{
    float: left;
    
}
/******End global********/

#resultMobileView{
    display: none;
}

.score{
    margin-top:10px;
}

/********** Buttons **********/
#download-pdf{
   margin-left: 10px;
   float:right;
   
}
#download-full-pdf{
    float:right;
}
button, #sub {
  margin-top:10px; padding:10px 20px; border-radius:0;border:none;
}
button {
    cursor: pointer;
}

.btn {
    background-color: #28a745;
    color: #fff;
      border:none;
}
.btn:hover{
    background-color:#d89c44 !important;
    color: #fff !important;
}
.next{
    margin-top: 10px;
    width:100px;   
}
#manual-sub{
    float:right;
    
}
.manualView {
    background-color: #eeeeee;
    padding:10px;
}
.clicked {
    background-color: #d89c44;
    color: #fff;
}
/********** End Buttons **********/
input {
    cursor: pointer;
}


.alert-success{
    margin-top: 10px;
    
}
#myChart{
   margin-left: 20px;
}
.result-direct{
    margin-top: 70px !important;
}


/************ Tables ******************/
.tax-container td{
    padding: 0px;
    
    font-size: 14px;
}
.tax-container{
   
    width: 200px;
       
}
.tax-container table tr{
    height:3px;
}

table {
    width:100%;
    border-collapse: collapse;
    border-spacing:5px;
    border-collapse: separate;
}

input { 
    text-align: center; 
}
td {
   padding: 10px;

   border-color: #e0e0e0;
   
}

#resultView td{
   padding: 0px;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.fade-background{
    position: relative;
    background-color:#65b78f;
    color:white;
    animation: fadein 2s;
}
#question{
    margin-bottom: 20px;
    background-color: #eeeeee;
    
}
#question{
   height: 100px;
}
/*********** End tables ************/


.selected{
    padding: 5px;
    background-color: lightgrey;
    color: #fff;
}

#labelsView{
    
    padding:5px;
}
#chartContainer{
    
    height: 500px;
    width: 500px;
}

#result-container{
   margin-top:80px;
   
}


.label{
    padding-right:5px;
    font-size:15px;
    
    color: grey;
    
}
 /********* Commentbox ********/
#comment{
    
    font-size: 15px;
    font-style: italic;
    background-color: #f1f0f0;
    position:absolute;
    width: 300px;
    z-index: 999;
       
}
.comment-card{
    position:absolute;
    right: 20px;
    top:75px;
    width: 200px;
       
}

.accordion-header{
    margin-top: 5px;
    
    color:#333;   
}
.accordion-header:hover{
    text-decoration: none;
}
.edit-link{
    float:right;
    font-size: 11px;
}
/********* End Commenbox*******/

#result-container{
    margin-top:20px;
}

.white h4{
    color: #fff;
}
 
/** Set the scorefield size **/
#score{
    width:100px;
}
/*** Logo footer ***/
.logos{
    max-width: 1400px !important;
    margin-top: 20px;
       
}
 /*************** Mobile Version **********************/
@media only screen and (max-width: 400px) {
    .label-header{
        font-size: large;
    }
    .right{
        float:right;
        margin-right: 50px;
    }
    .comment-card{
        top:50px;
        left: 15px;
        width: 92%;
        margin-bottom: 20px;
    }
    
   
   .table-panel{
    display: none;
   }
   /***** Buttons *******/
   .profile-buttons {
        margin-top: 50px;
    }
    
   .btn{
    width: 100%;
    
   }
   .profile-buttons .btn{
        width: 30%;
    }
   #sub{
    width: 100%;
   }
   #download-pdf{
    margin-left: 0px;
   }
   /******** End Buttons*******/
   
    /******* Chartcontainer ******/
     #myChart{
        font-size: 8px;
    }
    
    #chartContainer{
    width:370px;
    margin-left: -30px;   
   }
      
    .panel-heading{
        font-weight: 600;
        font-size: large;
     }
     /*******End chartcontainer *****/
     
     
     /***** The maual resultinput table***/
      #resultMobileView{
        display:block;
        
    }
    .manualView table, .manualView th, .manualView tbody, .manualView  td, .manualView tr{ 
		display: block; 
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.manualView th { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.manualView td { 
		/* Behave  like a "row" */
		margin-bottom: 10px;
        margin-top: 10px;
		float:left;
        margin-right: 10px;
        width: 130px;
	}
	#score{
        width: 140px;
        
    }
	.manualView  td:before { 
		/* Now like a table header */
		
        text-align: center;
		
		
		white-space: nowrap;
        
	}
    
     .manualView td:nth-of-type(1):before { content: "Sociale spilleregler"; }
	 .manualView   td:nth-of-type(2):before { content: "Målsætning"; }
	.manualView   td:nth-of-type(3):before { content: "Motivation"; }
	.manualView   td:nth-of-type(4):before { content: "Fleksibilitet"; }
	.manualView  td:nth-of-type(5):before { content: "Robusthed"; }
	.manualView  td:nth-of-type(6):before { content: "Faglighed"; }
	 /***** End maual resultinput table ******/
}
	/*********************End mobile version ***********************/
	

